@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

html, body {
    min-width: 768px;
}

body {
    margin: 0;
    padding: 0;
}

/*BARRA DE NAVEGAÇÃO------------------------------*/
#barraNavegacao {
    padding: 0 20px 0 20px;
    height: 8vh;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#barraNavegacao > div:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#barraNavegacao > div:first-child > h3 {
    margin: 0;
}

#barraNavegacao > div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
}

/*BOTÕES------------------------------*/
.botao {
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 20px;

    width: 160px;
    height: 30px;
    background-color: transparent;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;

    color: #000000;
    cursor: pointer;
}

.botao:hover {
    background-color: black;
    color: white;
}

#botaoInstrucoes {

}

#botaoSom, #botaoSair {
    margin-left: 25px;
    height: 20px;
    width: auto;
    cursor: pointer;
}

#boxPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    height: 82vh;
}

/*POP UP CONFIRMAÇÃO SAIR------------------------------*/
.popConfirmacaoSairOff {
    display: none;
}

.popConfirmacaoSairOn {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);;

    display: flex;
    justify-content: center;
    align-items: center;
}

#popConfirmacaoSair > div {
    width: 70vw;
    height: 70vh;
    background-color: white;
    border: 1px solid black;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#popConfirmacaoSair > div > p, #popConfirmacaoSair > div > section {
    margin: 0;
    padding: 10px;
}

#popConfirmacaoSair > div > section > button {
    width: 80px;
    margin: 0 10px;
}


/*POP UP INSTRUÇÕES------------------------------*/
.popInstrucoesNivel1Off {
    display: none;
}

.popInstrucoesNivel1On {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);;

    display: flex;
    justify-content: center;
    align-items: center;
}

#popInstrucoesNivel1 > div {
    width: 70vw;
    height: 70vh;
    background-color: white;
    border: 1px solid black;
}

#popInstrucoesNivel1 > div > section > img {
    width: 30px;
    height: auto;
    padding: 40px;
}

#botaoSairInstrucoes {
    cursor: pointer;
}

#popInstrucoesNivel1 > div > section:first-child {
    display: flex;
    justify-content: flex-end;
}

#popInstrucoesNivel1 > div > section:last-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;
}

#tituloInstrucoes {
margin-top: 0;
}

#textoInstrucoes {
    width: 80%;
    height: auto;
}

/*POP UP MENSAGEM------------------------------*/
.popMensagemOff {
    display: none;
}

.popMensagemOn {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);;

    display: flex;
    justify-content: center;
    align-items: center;
}

#popMensagem > div {
    width: 70vw;
    height: 70vh;
    background-color: white;
    border: 1px solid black;
}

#popMensagem > div > section > img {
    width: 30px;
    height: auto;
    padding: 40px;
}

#botaoSairMensagem {
    cursor: pointer;
}

#popMensagem > div > section:first-child {
    display: flex;
    justify-content: flex-end;
}

#popMensagem > div > section:last-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;
}
#tituloMensagem{
    margin-top: 0;
}

#textoMensagem {
    width: 80%;
    height: auto;
}

/*BARRA DE PONTUAÇÃO------------------------------*/
#barraPontuação{
    padding: 0 20px 0 20px;
    height: 8vh;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#barraPontuação > div:first-child{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#barraPontuação > div:first-child > p{
    margin: 0 0 0 25px;
}
.ponto{
    height: 10px;
    width: 10px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    border: 5px #D9D9D9 solid;
}

/*TAMANHOS DE LETRAS------------------------------*/
h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600; /*Semi Bold*/
    font-size: 70px;
    line-height: 85px;
    text-align: center;

    color: #000000;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400; /*Bold*/
    font-size: 40px;
    line-height: 48px;

    color: #000000;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500; /*Semi Bold*/
    font-size: 25px;
    line-height: 36px;

    color: #000000;
}

p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400; /*Regular*/
    font-size: 15px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}


@media screen and (max-width: 1023px) {
    #popInstrucoesNivel1 > div {
        height: 60vh;
    }
    #popMensagem > div {
        height: 60vh;
    }
    #popInstrucoesNivel1 > div > section > img {
        padding: 30px 30px 30px 30px;
    }
    #popInstrucoesNivel1 > div > section:last-child {
        padding: 30px 50px 50px 50px;
    }
    #popMensagem > div > section > img {
        padding: 30px 30px 30px 30px;
    }
    #popMensagem > div > section:last-child {
        padding: 30px 50px 50px 50px;
    }
    h1 {
       font-size: 60px;
    }
    h2 {
        font-size: 35px;
    }

}